@{
    ViewBag.Title = "İletişim";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-8">
        <h4>Bize Ulaşın</h4>
        <address>
            <strong>İş Takip Sistemi</strong><br />
            <abbr title="Phone">Telefon:</abbr>
            +90 (XXX) XXX-XXXX
        </address>

        <address>
            <strong>E-Posta:</strong><br />
            <a href="mailto:info@istakip.com">info@istakip.com</a>
        </address>
    </div>
</div>
